@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

body {
  margin: 0px;
  height: 720px;
  width: 100%;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: rgb(248, 238, 248);
  padding: 2px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  /* border-bottom: purple 3px solid; */
  h3 {
    color: purple;
    font-size: 28px;
    font-family: Arima;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}
.container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 2fr);
  height: 562px;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(153, 0, 255, 0.3);

  margin: 10px;
  padding: 10px;
  img {
    object-fit: cover;
    border-radius: 10%;
    transition: 0.3s ease-out;
  }
}
.box img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
  cursor: pointer;
  border-radius: 15%;
  box-shadow: 0 10px 10px rgba(153, 0, 255, 0.3);
}
a {
  text-decoration: none;
  p {
    text-align: center;
    font-size: 1.1em;
    color: black;
    line-height: 1;
    font-weight: bold;
    margin-top: 15px;
  }
}
a :hover {
  color: purple;
}
.welcome {
  font-size: 22px;
  color: rgb(134, 46, 134);
  text-align: center;
  font-family: Arima;
  font-weight: bold;
}
